blinker
click
colorama
Flask
Flask-Mail
Flask-MySQLdb
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
numpy
pandas
python-dateutil
pytz
six
typing-extensions
Werkzeug
zipp
