blinker
click
colorama
Flask
Flask-Mail
# Flask-MySQLdb  # Uncomment when using postgres/mysql later
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
# mysqlclient  # Uncomment when using postgres/mysql later
numpy
pandas
python-dateutil
pytz
six
typing-extensions
Werkzeug
zipp
gunicorn
